*{ 
    font-size:100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image:url(images/backgroundimage.jpg);
    background-size:cover;
}

.welcome,.intro,.to-do_list{
    margin-left:20%;
    margin-right:30%;
}

.intro.preamble {
    font-size:120%;
  }

.intro{
    background-color: rgb(174, 238, 174);
    color:rgb(83, 5, 5);
}

.welcome{
    color:black;
    font-size:180%;
    background-color:rgb(56, 211, 42);
}

.face{
    margin-left:40%;
}

/* to select an id, # would be used instead of .
entire types of html elements can also be selected, like div or p

* { 
    color: purple;
  } example of a selector for all elements 
   
*/



