/* why do I have to apply it to both html and body to get it to fill the screen? look for answer */
html, body{
    height:100%;
    margin:0;
}

.flex_container {
    display:flex;
    height:100%;
    width:100%;
}

/*grow and shrink specify at which rate items grow or shrink. 0 means no growing/shrinking happens, 1 means it grows/shrinks at a rate of 1 compared to other items*/
.sidebar {
    display:flex;
    flex-direction:column;
    background-color:darkslateblue;
    border:black solid 5px;
    /*flex 0 0 means it won't grow or shrink by default from its 120px value. it will still shrink a bit when making the window smaller but that's not a bug*/
    flex:0 0 120px;
}

.sidebar button {
    min-height:30px;
    width:100%;
    height:10%;
    flex:0 1 auto;
    border:black solid;
    border-width:0 0 5px 0;
    color:aquamarine;
    background-color:darkblue;
}

/* if flex basis is auto, it looks for a width declaration. if flex basis is 0, everything shrinks evenly because there's no basis to respect*/
.content {
    gap:2%;
    display:flex;
    flex-direction:column;
    background-color:rgb(141, 129, 219);
    flex:1 1 auto;
    align-items:center;
}

.welcome {
    width:50%;
    height:6%;
    display:flex;
    justify-content:center;
    align-items:center;
    border:rgb(244, 119, 255) solid 2px;
    flex:0 0 auto;
    background-color:rgb(179, 171, 226);
    font-size: 120%;
}